[Unit]
Description=SSH Key Agent For All Users
After=network.target

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK
ExecStop=/usr/bin/pkill -u $USER ssh-agent

[Install]
WantedBy=default.target
