[include]
	path = ~/.gitconfig.personal
[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig.work

[user]
	name = Karl Wikström
[commit]
	gpgsign = true
[gpg]
	program = gpg2

# This allows for different signing keys on different setups
# without causing clashes.
[include]
	path = ~/.gitconfig_signingkey

[init]
	defaultBranch = main

[push]
	default = current

[alias]
	s = status --short
	l = log --oneline
	r = rebase
