[Unit]
Description=kmonad keyboard config for the onboard thinkpad X1 Carbon keyboard

[Service]
Restart=always
RestartSec=3
ExecStart=%h/.config/kmonad/kmonad.sh thinkpad
Nice=-20

[Install]
WantedBy=default.target
