[Unit]
Description=kmonad keyboard config for the Logitech Ergo 860 bluetooth keyboard

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad %h/.config/kmonad/ergo_860.kbd
Nice=-20

[Install]
WantedBy=default.target
